<section class="history-section" id="#history">
  <div class="container">
    <p class="history-subtitle">Історія</p>
    <h2 class="history-title">Наш шлях</h2>
    <ul class="history-list">
      <li class="history-item">
        <span class="history-year">2017</span>
        <h3 class="history-item-title">Заснування TDM BUD</h3>
        <p class="history-item-text">Перша власна бригада, перші обʼєкти у Чернівцях.</p>
      </li>
      <li class="history-item">
        <span class="history-year">2019</span>
        <h3 class="history-item-title">Запуск дизайн-відділу</h3>
        <p class="history-item-text">Власні дизайнери: візуалізація та специфікації матеріалів.</p>
      </li>
      <li class="history-item">
        <span class="history-year">2020</span>
        <h3 class="history-item-title">50-й обʼєкт зданий</h3>
        <p class="history-item-text">Виходимо на повний цикл — від демонтажу до меблювання.</p>
      </li>
      <li class="history-item">
        <span class="history-year">2022</span>
        <h3 class="history-item-title">Преміум-сегмент</h3>
        <p class="history-item-text">Проєкти підвищеної складності площею 1000+м2</p>
      </li>
      <li class="history-item">
        <span class="history-year">2024</span>
        <h3 class="history-item-title">100+ проєктів</h3>
        <p class="history-item-text">Квартири, будинки та комерційні приміщення</p>
      </li>
    </ul>

  </div>
</section>