<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo "><img width="30" height="30" src="./img/logo.png" alt="logo TDM BUD">
        <span>TDM BUD</span></a>

      <ul class="nav-links" id="navLinks">
        <li><a href="#about">Про нас</a></li>
        <li><a href="#steps">Як ми працюємо</a></li>
        <li><a href="#process">Процес</a></li>
        <li><a href="#works">Роботи</a></li>
        <li><a href="#contacts">Контакти</a></li>
      </ul>
      <button class="nav-cta">Отримати кошторис</button>

      <button type="button" data-menu-open class="burger" id="burger" aria-label="Меню" aria-expanded="false"
        aria-controls="mobileMenu"><svg class="burger-icon" width="24" height="24" aria-hidden="true">
          <use href="./sprite.svg#icon-burger"></use>
        </svg></button>
    </nav>
  </div>
  <div class="mobile-menu" id="mobileMenu" data-menu>
    <div class="container mobile-menu-container">
      <button type="button" data-menu-close class="mobile-menu-btn-close" aria-label="Закрити меню"><svg
          class="btn-close" width="24" height="24" aria-hidden="true">
          <use href="./sprite.svg#icon-close"></use>
        </svg></button>
      <nav class="mobile-nav">
        <ul class="mobile-nav-links">
          <li><a href="#about">Про нас</a></li>
          <li><a href="#steps">Як ми працюємо</a></li>
          <li><a href="#process">Процес</a></li>
          <li><a href="#works">Роботи</a></li>
          <li><a href="#contacts">Контакти</a></li>
        </ul>
        <button class="nav-cta">Отримати кошторис</button>
      </nav>

      <address>
        <a class="mobile-nav-tel" href="tel:+380506375032"><svg class="mobile-tel-icon" width="15" height="20"
            aria-hidden="true">
            <use href="./sprite.svg#icon-phone"></use>
          </svg>+380 50 637 50 32</a>
      </address>
      <ul class="mobile-menu-icon-list">
        <li class="menu-icon-item"><a href="https://www.instagram.com/tdm_bud_cv/" target="_blank"
            rel="noopener noreferrer" aria-label="Instagram"><svg class="icon-link" width="20" height="20"
              aria-hidden="true">
              <use href="./sprite.svg#icon-instagram"></use>
            </svg></a></li>
        <li class="menu-icon-item"><a href="https://www.tiktok.com/@tdm_bud_cv" target="_blank"
            rel="noopener noreferrer" aria-label="TikTok"><svg class="icon-link" width="20" height="20"
              aria-hidden="true">
              <use href="./sprite.svg#icon-tiktok"></use>
            </svg></a></li>
        <li class="menu-icon-item"><a href="https://t.me/+380506375032" target="_blank" rel="noopener noreferrer"
            aria-label="Telegram"><svg class="icon-link" width="20" height="20" aria-hidden="true">
              <use href="./sprite.svg#icon-telegram"></use>
            </svg></a></li>
      </ul>



    </div>
  </div>

</header>