<section class="portfolio-section" id="works">
  <div class="container">
    <div class="portfolio-text-wrap">
      <div>
        <p class="portfolio-subtitle">Портфоліо</p>
        <h2 class="portfolio-title">Наші роботи</h2>
      </div>
      <button class="portfolio-accent-btn" type="button">Хочу так само →</button>
    </div>
    <ul class="portfolio-list">
      <li class="portfolio-list-item">
        <img src="/img/portfolio/apartment1/hero1.jpg" alt="Ремонт квартири на вул. Небесної Сотні" width="343"
          height="245" loading="lazy" class="portfolio-img">
        <p class="portfolio-list-text">Квартира на вул. Небесній Сотні</p>
      </li>
      <li class="portfolio-list-item">
        <img src="/img/portfolio/apartment2/hero2.jpg" alt="Ремонт квартири на вул. Київській" width="343" height="245"
          loading="lazy" class="portfolio-img">
        <p class="portfolio-list-text">Квартира на вул. Київській</p>
      </li>
      <li class="portfolio-list-item">
        <img src="/img/portfolio/apartment3/hero3.jpg" alt="Ремонт квартири на вул. Сторожинецькій" width="343"
          height="245" loading="lazy" class="portfolio-img">
        <p class="portfolio-list-text">Квартира на вул. Сторожинецькій</p>
      </li>
      <li class="portfolio-list-item">
        <img src="/img/portfolio/apartment4/hero4.jpg" alt="Ремонт квартири на вул. Руській" width="343" height="245"
          loading="lazy" class="portfolio-img">
        <p class="portfolio-list-text">Квартира на вул. Руській</p>
      </li>
      <li class="portfolio-list-item">
        <img src="/img/portfolio/apartment5/hero5.jpg" alt="Ремонт квартири на вул. Головній" width="343" height="245"
          loading="lazy" class="portfolio-img">
        <p class="portfolio-list-text">Квартира на вул. Головній</p>
      </li>
      <li class="portfolio-list-item">
        <img src="/img/portfolio/apartment6/hero6.jpg" alt="Ремонт квартири на вул. Героїв Майдану" width="343"
          height="245" loading="lazy" class="portfolio-img">
        <p class="portfolio-list-text">Квартира на вул. Героїв Майдану</p>
      </li>
    </ul>
  </div>
</section>