<section class="portfolio-section" id="works">
  <div class="container">
    <div class="portfolio-text-wrap">
      <div>
        <p class="portfolio-subtitle">Портфоліо</p>
        <h2 class="portfolio-title">Наші роботи</h2>
      </div>

    </div>
    <div class="portfolio-swiper swiper">
      <ul class="portfolio-list swiper-wrapper">
        <li class="portfolio-list-item swiper-slide">
          <div class="portfolio-icon-card-wrap">
            <svg class="portfolio-icon" width="16" height="16" aria-hidden="true">
              <use href="./sprite.svg#icon-photo-card"></use>
            </svg>
            <span class="portfolio-icon-text">4/10</span>
          </div>
          <picture>
            <source media="(min-width:768px)" srcset="/img/portfolio/apartment1/apart1-desktop-cover.png">
            <img src="/img/portfolio/apartment1/apart1-mobile-cover.jpg" alt="Ремонт квартири на вул. Небесної Сотні"
              width="343" height="245" loading="lazy" class="portfolio-img">
          </picture>

          <p class="portfolio-list-text">Квартира на вул. Небесній Сотні</p>
        </li>
        <li class="portfolio-list-item swiper-slide">
          <div class="portfolio-icon-card-wrap">
            <svg class="portfolio-icon" width="16" height="16" aria-hidden="true">
              <use href="./sprite.svg#icon-photo-card"></use>
            </svg>
            <span class="portfolio-icon-text">4/10</span>
          </div>
          <picture>
            <source media="(min-width: 768px)" srcset="/img/portfolio/apartment2/apart2-desktop-cover.jpg">
            <img src="/img/portfolio/apartment2/apart2-mobile-cover.jpg" alt="Ремонт квартири на вул. Київській"
              width="343" height="245" loading="lazy" class="portfolio-img">
          </picture>
          <p class="portfolio-list-text">Квартира на вул. Київській</p>
        </li>
        <li class="portfolio-list-item swiper-slide">
          <div class="portfolio-icon-card-wrap">
            <svg class="portfolio-icon" width="16" height="16" aria-hidden="true">
              <use href="./sprite.svg#icon-photo-card"></use>
            </svg>
            <span class="portfolio-icon-text">4/10</span>
          </div>
          <picture>
            <source media="(min-width: 768px)" srcset="/img/portfolio/apartment3/apart3-desktop-cover.jpg">
            <img src="/img/portfolio/apartment3/apart3-mobile-cover.jpeg" alt="Ремонт квартири на вул. Сторожинецькій"
              width="343" height="245" loading="lazy" class="portfolio-img">
          </picture>

          <p class="portfolio-list-text">Квартира на вул. Сторожинецькій</p>
        </li>
        <li class="portfolio-list-item swiper-slide">
          <div class="portfolio-icon-card-wrap">
            <svg class="portfolio-icon" width="16" height="16" aria-hidden="true">
              <use href="./sprite.svg#icon-photo-card"></use>
            </svg>
            <span class="portfolio-icon-text">4/10</span>
          </div>
          <picture>
            <source media="(min-width: 768px)" srcset="/img/portfolio/apartment4/apart4-desktop-cover.jpg">
            <img src="/img/portfolio/apartment4/apart4-mobile-cover.jpg" alt="Ремонт квартири на вул. Руській"
              width="343" height="245" loading="lazy" class="portfolio-img">
          </picture>

          <p class="portfolio-list-text">Квартира на вул. Руській</p>
        </li>
        <li class="portfolio-list-item swiper-slide">
          <div class="portfolio-icon-card-wrap">
            <svg class="portfolio-icon" width="16" height="16" aria-hidden="true">
              <use href="./sprite.svg#icon-photo-card"></use>
            </svg>
            <span class="portfolio-icon-text">4/10</span>
          </div>
          <picture>
            <source media="(min-width: 768px)" srcset="/img/portfolio/apartment5/apart5-desktop-cover.jpg">
            <img src="/img/portfolio/apartment5/apart5-mobile-cover.png" alt="Ремонт квартири на вул. Головній"
              width="343" height="245" loading="lazy" class="portfolio-img">
          </picture>

          <p class="portfolio-list-text">Квартира на вул. Головній</p>
        </li>
        <li class="portfolio-list-item swiper-slide">
          <div class="portfolio-icon-card-wrap">
            <svg class="portfolio-icon" width="16" height="16" aria-hidden="true">
              <use href="./sprite.svg#icon-photo-card"></use>
            </svg>
            <span class="portfolio-icon-text">4/10</span>
          </div>
          <picture>
            <source media="(min-width: 768px)" srcset="/img/portfolio/apartment6/apart6-desktop-cover.png">
            <img src="/img/portfolio/apartment6/apart6-mobile-cover.png" alt="Ремонт квартири на вул. Героїв Майдану"
              width="343" height="245" loading="lazy" class="portfolio-img">
          </picture>
          <p class="portfolio-list-text">Квартира на вул. Героїв Майдану</p>
        </li>
      </ul>
    </div>

    <div class="portfolio-pagination"></div>

    <button class="portfolio-accent-btn" type="button">Хочу так само →</button>
  </div>
</section>