<section class="process-section">
  <div class="container">
    <p class="process-subtitle">Реальний об'єкт</p>
    <h2 class="process-title">Від голих стін до готової квартири</h2>

    <ul class="process-list">
      <li class="process-list-item">
        <p class="process-step">Етап 1</p>
        <div class="process-list-wrap">
          <div class="process-list-wrap-item">
            <h3 class="process-list-title">Замір та дизайн-проєкт</h3>
            <p class="process-list-text">*Виїжджаємо на обʼєкт<br>
              *Знімаємо розміри<br>
              *Обговорюємо планування<br>
              *Готуємо
              3D-візуалізацію і специфікацію матеріалів<br>
              *Прораховуємо кошторис</p>
            <button type="button" class="process-btn">Безкоштовно</button>
          </div>
          <div class="process-list-wrap-item proc-item"><img src="/img/process/step1-remontnye-rabotykh.jpg"
              alt="Замір та дизайн-проєкт" width="343" height="226" class="process-list-img"></div>
        </div>
      </li>
      <li class="process-list-item">
        <p class="process-step">Етап 2</p>
        <div class="process-list-wrap">
          <div class="process-list-wrap-item">
            <h3 class="process-list-title">Чорнова обробка</h3>
            <p class="process-list-text">* Демонтажні роботи <br>
              * Перепланування<br>
              * Штукатурка стін (ручна і механізована)<br>
              * Стяжка підлоги (механізована)<br>
              * Електромонтаж<br>
              * Сантехнічні роботи<br>
              * Монтаж систем опалення, вентиляції тощо
            </p>
          </div>
          <div class="process-list-wrap-item proc-item"><img src="/img/process/step2-posagovoe-rukovodstvo.webp"
              alt="Чорнова обробка" width="343" height="226" class="process-list-img"></div>
        </div>
      </li>
      <li class="process-list-item">
        <p class="process-step">Етап 3</p>
        <div class="process-list-wrap">
          <div class="process-list-wrap-item">
            <h3 class="process-list-title">Чистова обробка</h3>
            <p class="process-list-text">* Монтаж гіпсокартону<br>
              * Малярні роботи (шпаклівка, фарбування, шпалери)<br>
              * Плиточні роботи<br>
              * Монтаж ламінату, кварц-вінілу, паркету тощо<br>
              * Нанесення всіх видів декоративної штукатурки<br>
              *І багато-багато іншого</p>
          </div>
          <div class="process-list-wrap-item proc-item"><img src="/img/process/step3-malyarnye-raboty.webp"
              alt="Чистова обробка" width="343" height="226" class="process-list-img"></div>
        </div>
      </li>
      <li class="process-list-item">
        <p class="process-step">Етап 4</p>
        <div class="process-list-wrap">

          <div class="process-list-wrap-item">
            <h3 class="process-list-title">Здача обʼєкта</h3>
            <p class="process-list-text">*Прибирання<br>
              *Фінальна перевірка всіх систем<br> *Підписуємо акт<br>
              *Видаємо
              гарантійний
              лист.</p>
            <button type="button" class="process-btn">Гарантія 10 років</button>
          </div>
          <div class="process-list-wrap-item proc-item"><img
              src="/img/process/step4-real-estate-agent-hand-giving-house-keys-house.jpg" alt="Здача обʼєкта"
              width="343" height="226" class="process-list-img"></div>
        </div>

  </div>
  </li>
  </ul>
  </div>
</section>